body{
background-image: url("../img/1.jpg");
background-attachment: fixed;
background-repeat: round;
}
.bloc1{
  background: rgba(159, 133, 140, 0.3);
  color: white;
}
p{
  text-align: justify;
}
.comentario p{
  text-align: right;
}
